body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.about-me-proffesion{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 20px 0;
    color: #000;
    
}
/* main content section */
.main-content-section{
    padding: 100px 90px ;
}
/* about-me-section */
.about-me-section{
    margin: 0 0 40px 0;
}
.my-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 25px 0;
    color: #000;
}
.about-me-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 40px 0;
    color: #595959;
    width: 400px;
}
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin: 0 0 10px 0;
}
/* my-project-section */
.my-project-section{
    margin: 0 0 50px 0 
}
.my-project-list{
    padding: 0 0 0 17px;
}
.my-project-item{
    color: #000;
    font-weight: bold;
}
.my-project-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
   margin-left: 5px;
}
.my-project-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-project-bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;   
}

/* my work section */
.title-color{
    color: #FB6D3A;
}
.my-education-place{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
.my-work-experience-title{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.my-work-experience-duties{
    padding: 0 0 0 35px;
}
.date-work{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
 }
.I-title{
    color: #000;
}
.my-work-experience-duty{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}
.my-work-experience-company{
    margin: 0 0 15px 0;
}
/* sidebar section */
.sidebar-section{
    background: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.contacts-section{
    margin: 50px 0 0 40px;
}
.Tech-skills-section{
    margin: 50px 0 0 40px;    
}
.soft-skills-section{
    margin: 45px 0 0 40px;
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;  
}
/* contacts-section */
.contacts-section-type{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
    color: #FFF

}
.contacts-section-link{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A
}
.skills-list{
    padding: 0 0 0 35px;
    color: #FB6D3A;
}
.skills-item-text{
    color: #FFF;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}